.info {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 5vh;
  align-items: center;
  color: var(--title-color);
  width: 110vh;
  height: 50vh;
  text-align: center;
}

.info_andres {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.info_andres > h3 {
  font-size: 3.5vh;
}

#andres_text {
  font-size: 5vh;
  line-height: 1.2;
  font-weight: 100;
}
