.main_hero {
  display: flex;
  flex-wrap: wrap;
  height: 85vh;
}

.main_content {
  padding-top: 5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

#principal_button_container {
  /* font-size: 2vw;
  padding: 1vw 2vw; */
}
