.titulo_barbers {
  color: var(--title-color);
  font-weight: 400;
  font-size: 8vw;
  text-align: center;
}

.titulo_pricipal {
  font-weight: 400;
  font-size: 5vw;
  text-align: center;
  width: 60%;
  line-height: 1;
}

.titulo_about {
  color: var(--title-color);
  font-weight: 100;
  font-size: 9vw;
  text-align: center;
}

.titulo_location {
  font-weight: 500;
  font-size: 10vw;
  text-align: center;
  /* width: 60%; */
  line-height: 1;
}
